@media(min-width:375px){
    .body img{
        display: none;
    }

    h2{
        text-align: center;
    }

    p{
        text-align: justify;
        font-size: 0.8 rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: justify;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width:550px){
    p{
        padding-left: 35px;
        text-align:left;
        font-size: 1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
    }
    
    .body img{
        display: grid;
        float: left;
        padding-left: 5px;
        margin: 15px;
    }
}

@media(min-width:775px){    
    .footer{
        position: absolute; 
        width: 100%;
        bottom: 0px;
    }
}

body{
    margin: 0px;
    background-color: white;
}

.header h1{ 
    text-align: center;
}

.header h1 a{
    color:#F5BD02;
    font-size: 2.5rem;
    font-style: italic;
    font-weight:bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}


.header{
    padding-top: 1px;
    background-color:#AB2330;
    height: 100px;
    background-attachment: fixed;
    background-position: center;
    margin: 0px;
    margin-bottom: 50px
}

h2{
    font-size: 1.3rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 30px;
    margin-bottom: 10px;
    color:#f5bd02;
}

img{
    height: 100px;
    width: 200px
}

.crit{
    padding-top: 30px;
}

ul{
    list-style-type: none;
    text-align:left;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:grid;
    grid-auto-flow: column;
    justify-content: center;
    justify-items:center;
    grid-gap: 2rem;
    padding-left: 0px;
}

.footer h3{
    font-size: 0.9rem;
    text-align: center;
}

#azul{
    color:dodgerblue;
    font-size: 3rem;
}

#vermelho{
    color:red;
    font-size:3rem;
}

.footer #azul:hover{
    text-decoration: none;
    color :dodgerblue;
    opacity: 50%;
}

.footer #vermelho:hover{
    text-decoration: none;
    color: red;
    opacity: 50%;
}


.menu a:hover{
    color:white;
    text-decoration:none;
    font-weight:bolder;

}